 body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: #f4f4f4;
      margin: 0;
      padding: 30px;
    }

    h1 {
      color: #a22525;
      margin-bottom: 40px;
      font-size: 36px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }

    .panel {
      background: white;
      border-radius: 12px;
      padding: 20px;
      width: 500px;
      height: 400px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .panel h2 {
      color: #333;
      margin-bottom: 20px;
      font-size: 30px;
    }

    .number {
      font-size: 100px;
      color: #a22525;
      margin: 7px 0;
      font-weight: bold;
    }

    .name {
  
      font-size: 27px;
      color: #555;
      max-width: 250px;
      word-wrap: break-word;
      
    }