
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #df1616;
    color: white;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}


.btn-serve {
    padding: 8px 16px;
    background-color: #fb1702;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-serve:hover {
    background-color: #bf2317;
}

/* Served text styling */
.served-text {
    color: rgba(103, 2, 2, 0.422);
    font-weight: 600;
}
